<a href="https://colab.research.google.com/github/sunilchaurha/python-learning/blob/main/Panda-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import pandas as pd
import numpy as np
data = pd.read_csv("/content/data.csv")
data.head

<bound method NDFrame.head of            id diagnosis  ...  symmetry_worst  fractal_dimension_worst
0      842302         M  ...          0.4601                  0.11890
1      842517         M  ...          0.2750                  0.08902
2    84300903         M  ...          0.3613                  0.08758
3    84348301         M  ...          0.6638                  0.17300
4    84358402         M  ...          0.2364                  0.07678
..        ...       ...  ...             ...                      ...
564    926424         M  ...          0.2060                  0.07115
565    926682         M  ...          0.2572                  0.06637
566    926954         M  ...          0.2218                  0.07820
567    927241         M  ...          0.4087                  0.12400
568     92751         B  ...          0.2871                  0.07039

[569 rows x 32 columns]>

In [7]:
filter=["id","diagnosis","radius_mean","texture_mean","perimeter_mean","area_mean","smoothness_mean","compactness_mean"]
filteredData = data[filter]
filteredData.head()

         id diagnosis  ...  smoothness_mean  compactness_mean
0    842302         M  ...          0.11840           0.27760
1    842517         M  ...          0.08474           0.07864
2  84300903         M  ...          0.10960           0.15990
3  84348301         M  ...          0.14250           0.28390
4  84358402         M  ...          0.10030           0.13280

[5 rows x 8 columns]

In [9]:
filteredData.sort_index(axis=1, ascending=True)

     area_mean  compactness_mean  ... smoothness_mean  texture_mean
0       1001.0           0.27760  ...         0.11840         10.38
1       1326.0           0.07864  ...         0.08474         17.77
2       1203.0           0.15990  ...         0.10960         21.25
3        386.1           0.28390  ...         0.14250         20.38
4       1297.0           0.13280  ...         0.10030         14.34
..         ...               ...  ...             ...           ...
564     1479.0           0.11590  ...         0.11100         22.39
565     1261.0           0.10340  ...         0.09780         28.25
566      858.1           0.10230  ...         0.08455         28.08
567     1265.0           0.27700  ...         0.11780         29.33
568      181.0           0.04362  ...         0.05263         24.54

[569 rows x 8 columns]

In [13]:
filteredData.sort_values(by="id", ascending=False)

            id diagnosis  ...  smoothness_mean  compactness_mean
464  911320502         B  ...          0.07466           0.05994
463  911320501         B  ...          0.08508           0.05855
461  911296202         M  ...          0.10840           0.19880
460  911296201         M  ...          0.09898           0.11100
449  911157302         M  ...          0.09684           0.11750
..         ...       ...  ...              ...               ...
47       85715         M  ...          0.11580           0.12310
403       9047         B  ...          0.09879           0.08836
291       8915         B  ...          0.08992           0.09823
287       8913         B  ...          0.06955           0.03729
131       8670         M  ...          0.10920           0.12230

[569 rows x 8 columns]

In [18]:
filteredData.iloc[5:10,3:6]

   texture_mean  perimeter_mean  area_mean
5         15.70           82.57      477.1
6         19.98          119.60     1040.0
7         20.83           90.20      577.9
8         21.82           87.50      519.8
9         24.04           83.97      475.9

In [26]:

topRows = filteredData[0:10].copy()
topRows

         id diagnosis  ...  smoothness_mean  compactness_mean
0    842302         M  ...          0.11840           0.27760
1    842517         M  ...          0.08474           0.07864
2  84300903         M  ...          0.10960           0.15990
3  84348301         M  ...          0.14250           0.28390
4  84358402         M  ...          0.10030           0.13280
5    843786         M  ...          0.12780           0.17000
6    844359         M  ...          0.09463           0.10900
7  84458202         M  ...          0.11890           0.16450
8    844981         M  ...          0.12730           0.19320
9  84501001         M  ...          0.11860           0.23960

[10 rows x 8 columns]

In [27]:
pd.isna(filteredData).head(10)

      id  diagnosis  radius_mean  ...  area_mean  smoothness_mean  compactness_mean
0  False      False        False  ...      False            False             False
1  False      False        False  ...      False            False             False
2  False      False        False  ...      False            False             False
3  False      False        False  ...      False            False             False
4  False      False        False  ...      False            False             False
5  False      False        False  ...      False            False             False
6  False      False        False  ...      False            False             False
7  False      False        False  ...      False            False             False
8  False      False        False  ...      False            False             False
9  False      False        False  ...      False            False             False

[10 rows x 8 columns]

In [33]:
#filteredData.dropna(how="any")
#filteredData.fillna(value=1)

inp = pd.Series([1,57,36,7,np.nan,9])

pd.isna(inp)

0    False
1    False
2    False
3    False
4     True
5    False
dtype: bool

In [34]:
#filteredData.dropna(how="any")
#filteredData.fillna(value=1)

inp = pd.Series([1,57,36,7,np.nan,9])
dropped = inp.fillna(value=3)
inp

0     1.0
1    57.0
2    36.0
3     7.0
4     NaN
5     9.0
dtype: float64

In [35]:

filteredData.mean()

id                  3.037183e+07
radius_mean         1.412729e+01
texture_mean        1.928965e+01
perimeter_mean      9.196903e+01
area_mean           6.548891e+02
smoothness_mean     9.636028e-02
compactness_mean    1.043410e-01
dtype: float64

In [36]:
filteredData.value_counts()

id         diagnosis  radius_mean  texture_mean  perimeter_mean  area_mean  smoothness_mean  compactness_mean
911320502  B          13.170       18.22         84.28           537.3      0.07466          0.05994             1
883270     B          14.220       27.85         92.55           623.9      0.08223          0.10390             1
884626     B          12.890       14.11         84.95           512.2      0.08760          0.13460             1
884448     B          13.200       17.43         84.13           541.6      0.07215          0.04524             1
884437     B          10.480       19.86         66.72           337.7      0.10700          0.05971             1
                                                                                                                ..
927241     M          20.600       29.33         140.10          1265.0     0.11780          0.27700             1
8510426    B          13.540       14.36         87.46           566.3      0.09779          0.08129             1
8510653    B          13.080       15.71         85.63           520.0      0.10750          0.12700             1
8510824    B          9.504        12.44         60.34           273.9      0.10240          0.06492             1
8670       M          15.460       19.48         101.70          748.9      0.10920          0.12230             1
Length: 569, dtype: int64

In [38]:
pdData = pd.Series(["CAT","UPPER","CASE"])
pdData

pdData.str.lower()

0      cat
1    upper
2     case
dtype: object

In [39]:
df = pd.DataFrame(np.random.randn(10,4))
df

          0         1         2         3
0  0.372429 -1.135682  0.151550 -0.794999
1  2.252725  0.770438 -0.501503 -0.456323
2  0.215535  1.176593 -0.452443 -2.241147
3 -1.016925  1.013497 -0.635907 -1.753951
4 -0.561552 -1.104896 -0.781634  0.036678
5  0.997700  0.980785  0.281798  1.996152
6  1.293078 -0.181137  1.154175  0.225524
7  0.260562 -1.134098  0.087614  2.863983
8  0.296258  0.960571  0.001149 -0.806584
9  0.392966 -1.136948  0.346654  0.851547

In [40]:
pieces = [df[0:5],df[5:9]]

In [41]:
output = pd.concat(pieces)
output

          0         1         2         3
0  0.372429 -1.135682  0.151550 -0.794999
1  2.252725  0.770438 -0.501503 -0.456323
2  0.215535  1.176593 -0.452443 -2.241147
3 -1.016925  1.013497 -0.635907 -1.753951
4 -0.561552 -1.104896 -0.781634  0.036678
5  0.997700  0.980785  0.281798  1.996152
6  1.293078 -0.181137  1.154175  0.225524
7  0.260562 -1.134098  0.087614  2.863983
8  0.296258  0.960571  0.001149 -0.806584

In [42]:
filteredData.groupby("id").sum()

           radius_mean  texture_mean  ...  smoothness_mean  compactness_mean
id                                    ...
8670             15.46         19.48  ...          0.10920           0.12230
8913             12.89         13.12  ...          0.06955           0.03729
8915             14.96         19.10  ...          0.08992           0.09823
9047             12.94         16.17  ...          0.09879           0.08836
85715            13.17         18.66  ...          0.11580           0.12310
...                ...           ...  ...              ...               ...
911157302        21.10         20.52  ...          0.09684           0.11750
911296201        17.08         27.15  ...          0.09898           0.11100
911296202        27.42         26.27  ...          0.10840           0.19880
911320501        11.60         18.36  ...          0.08508           0.05855
911320502        13.17         18.22  ...          0.07466           0.05994

[569 rows x 6 columns]

In [43]:
filteredData.groupby("diagnosis").sum()

                   id  radius_mean  ...  smoothness_mean  compactness_mean
diagnosis                           ...
B          9476145391     4336.309  ...         33.01452          28.59021
M          7805426694     3702.120  ...         21.81448          30.77981

[2 rows x 7 columns]

In [44]:
filteredData.groupby(["id","diagnosis"]).sum()

                     radius_mean  ...  compactness_mean
id        diagnosis               ...
8670      M                15.46  ...           0.12230
8913      B                12.89  ...           0.03729
8915      B                14.96  ...           0.09823
9047      B                12.94  ...           0.08836
85715     M                13.17  ...           0.12310
...                          ...  ...               ...
911157302 M                21.10  ...           0.11750
911296201 M                17.08  ...           0.11100
911296202 M                27.42  ...           0.19880
911320501 B                11.60  ...           0.05855
911320502 B                13.17  ...           0.05994

[569 rows x 6 columns]

In [45]:
df = pd.DataFrame({
    "A":["one","one","two","three"]*3,
    "B":["A","B","C"]*4,
    "C":["hello","hello","hello","bye","bye","bye"]*2,
    "D":np.random.randn(12),
    "E":np.random.randn(12),

})
df

        A  B      C         D         E
0     one  A  hello  1.577884  0.692257
1     one  B  hello  1.770957  0.126756
2     two  C  hello  1.011681  0.483716
3   three  A    bye -0.601304  1.256205
4     one  B    bye -1.520948  0.019140
5     one  C    bye -0.963274 -1.283894
6     two  A  hello -0.551095 -1.562210
7   three  B  hello -2.896499 -0.166633
8     one  C  hello  0.945492  1.011071
9     one  A    bye -0.195286  0.367978
10    two  B    bye -0.803251  0.514007
11  three  C    bye  0.090940 -0.659692

In [49]:
pd.pivot_table(df, values="D",index=["A","B"],columns=["C"])

C             bye     hello
A     B
one   A -0.195286  1.577884
      B -1.520948  1.770957
      C -0.963274  0.945492
three A -0.601304       NaN
      B       NaN -2.896499
      C  0.090940       NaN
two   A       NaN -0.551095
      B -0.803251       NaN
      C       NaN  1.011681

# New Section